<h1>New Artist</h1>
  


<form action="/artists" method="POST">


<label>Artist name</label>
<input type="text" name="name" id="name" />



<label>Artist genre</label>
<input type="text" name="genre" id="genre"/>


<input type="submit" value="Add Artist" />

</form>


